<section id="ABOUT">
    <div id="main-content">
        
        <div class="title-bg">
        <div class="title">
            <h1 >Owen Mariani</h1>
            <h5>Full Stack Software Engineer </h5>
        </div>
    </div>
    </div>
    <div class="details">
    <ng-template #onStateContent>
       <p>Ways I touch grass here</p>
    
  </ng-template>
  
  <ng-template #offStateContent>
    <p>Professional Skills here</p>
   
  </ng-template>
  
  Personality Switch: <app-toggle [onContent]="onStateContent" [offContent]="offStateContent">

  </app-toggle>
        
          
       
    </div>
    
</section>

