@import '../section.component.css';

#main-content{
    /* background-image: url('/assets/space-bg.webp'); */
    /* background-color: red; */
    background-image: url('../../assets/pattern-bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    height: 80vh;
    
}
h1,h2,h3,h4,h5,h6,p{
    color: #202c52;
    line-height: 0;
  }

h1{
    font-size: 5rem !important;
    
}

.title-bg{
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    }

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ABOUT{
    display: flex;
    flex-direction: column;
}