.nav-body{
    width: 100vw;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

#logo{
    width: 3vw;
    height: 3vw;
    left: 0;
}

#name{
    margin: 0 auto
}